* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

#navbarNav
.navbar-nav
.nav-item
.nav-link {
	color: white;
	font-weight: 400;
	padding: 8px 15px;
	border: 1px solid transparent;
	border-radius: 20px;

}
.head_custom-nav 
.navbar-brand img {
	width: 35px;
	height: 35px;
}

.nav-link:hover {
	background-color: #5bc0de;
}

body {
	background-color: #e2d3c7;
}

html {
	scroll-behavior: smooth;
}

footer {
	background-color: #CFAA9E;
}

#logo {
	border-radius: 100%;
	margin-right: 5px;
}

.card > img {
	height: 300px;
}

.jumbotron {
	background-color: #eb9f9f;
}

#projects {
	background-color: #CFAA9E;
}

#AboutMe {
	background-color: #f1bbba;
}

#ContactMe {
	background-color: #CFAA9E;
}

#favicon {
	height: 100%;
}

.fab {
	color: white;
	height: 25%;
}

#IM {
	color: white;
}

h2 {
	color: white;
}

 .img-fluid {
	border-radius: 100%;
}

.btn-outline-info {
	font-weight: 400;
	padding: 8px 15px;
	border: 1px solid;
	border-radius: 20px;
}

#menu {
	height: 10px;	
}

.btn btn-primary {
	color: white;
	font-weight: 400;
	padding: 8px 15px;
	border: 1px solid transparent;
	border-radius: 20px;
}

#tagline {
	height: 100px;
}

.skillset > span {
	color: white;
}
